@font-face {
  font-family: roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

*{
  padding: 0;
  margin: 0;
}
body {
  font-family: roboto-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.sign-up-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 100vw;
}

.left-card {
  align-items: center;
  width: 95vw;
   & p {
    margin-bottom: 15px;
   }
   & h1 {
    margin-top: 30px;
    margin-bottom: 10px;
   }
}
.right-card {
  width: 100vw;
  & img{
    width: 100vw;
  }
}

.custom-list {
  list-style-type: none;
}

.custom-list li {
  padding-left: 1.8rem;
  background-image: url('./assets/images/icon-list.svg');
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}
label {
  margin-bottom: 10px;
  color: black;
  font-size: small;
  font-family: roboto-bold;
}
input {
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
button {
  font-family: roboto-bold;
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(234, 29%, 20%);
}
button:hover {
  background: linear-gradient(to right, #ff5151, #ff8e4d);
  transition: all 1s;
}
h1 {
  font-family: roboto-bold;
  font-size: 3rem;
  color: hsl(234, 29%, 20%);
}
.success-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 95vh; /* Establece la altura al 100% del viewport */
  padding: 20px;

  & h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  & button {
    font-size: 20px;
    width: 100%;
    height: 60px;
  }
}

.icon-and-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6rem;
}

.message {
  margin-left: 10px;
}

.dismiss-button {
  align-self: flex-end;
}

.icon-card-2 {  
  display: flex;
  margin-bottom: 1rem;
}
span{font-weight: bold;}

.hide{display: none;}

@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
  }
  .sign-up-container {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 50rem;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
  }
  .left-card {
    padding: 1rem;
    width: 40%;
  }
  .right-card {
    width: 40%;
    & img {
      width: 100%;
    }
  }

  form{
    width: 100%;
  }

  .success-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 25rem;
    height: 25rem;
    padding: 40px;
    border-radius: 1.5rem;
    
    & button {
      width: 100%;
    }
    & h1 {
      font-family: roboto-bold;
      font-size: 2.5rem;
    }
  }
  .icon-and-message {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  
  .icon-card-2 {
    display: flex;
    margin-bottom: 1rem;
  }

  .hide{display: none;}
}

.hide{display: none;}